<script type="x-template" id="home">
  {% include 'components/home/home.template.html' %}
</script>

<script>
  Vue.component('mr-home', {
    template: "#home",

    data: function() {
      return {
        movies: [],
        movieMap: {},

        viewableMovies: [],
        numMoviesInView: 100,

        movieSearch: '',
        selectedMovie: null,
        similarMovieMap: {},

        recommendedMovieMap: {}
      };
    },

    computed: {
      user: function() {
        return AuthService.getUser();
      },

      matchedMovies: function() {
        var movieSearch = this.movieSearch.toLowerCase();
        if (!movieSearch) return [];

        return this.movies.filter(function(movie) {
          return movie.title.toLowerCase().startsWith(movieSearch);
        });
      },

      similarMovies: function() {
        var movies = [];
        var movieMap = this.similarMovieMap;
        for (var movieId in movieMap) {
          if (movieMap.hasOwnProperty(movieId)) movies.push(movieMap[movieId]);
        }

        return movies;
      },

      recommendedMovies: function() {
        var movies = [];
        var movieMap = this.recommendedMovieMap;
        for (var movieId in movieMap) {
          if (movieMap.hasOwnProperty(movieId)) movies.push(movieMap[movieId]);
        }

        return movies;
      },

      allRecommendedMovies: function() {
        return this.similarMovies.concat(this.recommendedMovies);
      }
    },

    watch: {
      movieSearch: function(newVal) {
        if (newVal && this.selectedMovie && newVal !== this.selectedMovie.title) {
          this.selectedMovie = null;
          this.similarMovieMap = {};
        }
      }
    },

    created: function() {
      var self = this;

      this.getMovies().then(
        function() {
          self.putRandomMoviesIntoView();
          setInterval(self.putRandomMoviesIntoView, 10000);
        }
      );
    },

    methods: {
      logout: function() {
        var self = this;
        AuthService.logout().then(function() {
          self.$router.push('login');
        });
      },

      getMovies: function() {
        var self = this;

        return this.$http.get('/api/movies').then(
          function(res) {
            self.movies = res.body;
            self.movies.forEach(function(movie) {
              self.movieMap[movie.id] = movie;
            });
          }
        );
      },

      putRandomMoviesIntoView: function() {
        var randomizedMovies = this.movies.slice().sort(function() { return 0.5 - Math.random(); });
        this.viewableMovies = randomizedMovies.slice(0, this.numMoviesInView);
        this.putMoviesIntoView(this.allRecommendedMovies);
      },

      putMoviesIntoView: function(movies, movieMap) {
        var numMovies = movies.length;
        if (numMovies === 0) return;

        if (!movieMap) {
          movieMap = {};
          movies.forEach(function(movie) {
            movieMap[movie.id] = movie;
          });
        }

        // Find all movies already in view.
        moviesAlreadyInView = {};
        var viewableMovies = this.viewableMovies;
        viewableMovies.forEach(function(movie) {
          if (movieMap.hasOwnProperty(movie.id)) moviesAlreadyInView[movie.id] = true;
        });

        // Find all movies missing from view.
        var missingMovies = [];
        movies.forEach(function(movie) {
          if (!moviesAlreadyInView.hasOwnProperty(movie.id)) missingMovies.push(movie);
        });

        // Add the missing movies to random locations in the view.
        var $set = this.$set;
        var numMoviesInView = this.numMoviesInView;
        missingMovies.forEach(function(movie) {
          i = Math.floor(Math.random() * numMoviesInView);

          // Find a random location that doesn't already have a recommended movie.
          while (movieMap.hasOwnProperty(viewableMovies[i].id)) {
            i = Math.floor(Math.random() * numMoviesInView);
          }

          $set(viewableMovies, i, movie);
        });
      },

      getMovieClass: function(movieId) {
        if (this.recommendedMovieMap.hasOwnProperty(movieId)) {
          return ['card-inverse', 'card-success', 'recommended'];
        }
        else if (this.similarMovieMap.hasOwnProperty(movieId)) {
          return ['card-inverse', 'card-primary', 'recommended'];
        }
      },

      getGenreColor: function(genre) {
        var genreLowerCased = genre.toLowerCase();
        return this.strToColor(genreLowerCased);
      },

      getSimilarMovies: function() {
        var self = this;
        var similarMovieMap = {};

        var url = '/api/movie/' + this.selectedMovie.id + '/recommended';
        return this.$http.get(url).then(
          function(res) {
            var movieMap = self.movieMap;
            res.body.forEach(function(movie) {
              similarMovieMap[movie.id] = movieMap[movie.id];
            });

            self.$set(self, 'similarMovieMap', similarMovieMap);
          }
        );
      },

      getRecommnededMovies: function() {
        var self = this;
        var recommendedMovieMap = {};

        var url = '/api/movies/recommended';
        return this.$http.get(url).then(
          function(res) {
            var movieMap = self.movieMap;
            res.body.forEach(function(movie) {
              recommendedMovieMap[movie.id] = movieMap[movie.id];
            });

            self.$set(self, 'recommendedMovieMap', recommendedMovieMap);
          }
        );
      },

      onSelectMovie: function(movie) {
        var self = this;

        this.movieSearch = movie.title;
        this.selectedMovie = movie;
        this.getSimilarMovies().then(function() {
          self.putMoviesIntoView(self.allRecommendedMovies);
        });
      },

      onRateMovie: function(movie, stars) {
        var self = this;

        var url = '/api/movie/' + movie.id + '/rate';
        return this.$http.post(url, { rating: stars }).then(
          function() {
            self.getRecommnededMovies().then(function() {
              self.putMoviesIntoView(self.allRecommendedMovies);
            });
          }
        );
      },

      strToColor: function(str) {
        var hash = 0;
        for (var i = 0; i < str.length; i++) {
          hash = str.charCodeAt(i) + ((hash << 5) - hash);
        }

        var color = '#';
        for (var i = 0; i < 3; i++) {
          var value = (hash >> (i * 8)) & 0xFF;
          color += ('00' + value.toString(16)).substr(-2);
        }
        return color;
      }
    }
  });
</script>